
html{
    scroll-behavior: smooth;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF9F6;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: bold;
    vertical-align: baseline;
}

html, body{
    overflow-x: hidden;
    width: 100%;
}

img{
    max-height: 300px;
}

.site-container {
    position: relative;
    transition: 0.25s cubic-bezier(0, 1, 0.6, 1) -webkit-transform;
    transition: 0.25s cubic-bezier(0, 1, 0.6, 1) transform;
    transition: 0.25s cubic-bezier(0, 1, 0.6, 1) transform, 0.25s cubic-bezier(0, 1, 0.6, 1) -webkit-transform;
}

.back-button:hover{
    opacity: 25%;
}

.sticky-nav {
    display: none;
    align-items: center;
    width: 100%;
    padding: 2rem;
    
}

.main-nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 3rem;
}

.page-title{
    font-size: x-large;
}

.menu{
    display: flex;
    flex-direction: row;

}

.menu > .item{
    list-style: none;
    margin: .5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: large;
}

.home{
    margin-top: 0;
    max-width: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 5rem;
}

.back-button{
    text-decoration: none;
    color: #313639;
}

.content-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    width: 80%;
}

.product-base{
    margin: 5%;
    border: #FAF9F6 solid 8px;
    border-radius: 50px;
    background-image: url(/images/7qLB.gif);
    transition: .25s ease-in-out;
}

.product-base:hover{
    border: #313639 solid 8px;
}

.product-base:hover > .product-container{
    border: #313639 solid 8px;
    transform: translate(25px, 25px);
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #FAF9F6 solid 8px;
    border-radius: 40px;
    transition: .25s ease-in-out;
}

.product-title{
    background-color: transparent;
    text-align: center;
}

.product-body{
    display: flex;
    text-align: center;
    background-color: transparent;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh;
}