
html{
    scroll-behavior: smooth;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF9F6;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: bold;
    vertical-align: baseline;
}

html, body{
    overflow-x: hidden;
    width: 100%;
}

.site-container {
    position: relative;
    transition: 0.25s cubic-bezier(0, 1, 0.6, 1) -webkit-transform;
    transition: 0.25s cubic-bezier(0, 1, 0.6, 1) transform;
    transition: 0.25s cubic-bezier(0, 1, 0.6, 1) transform, 0.25s cubic-bezier(0, 1, 0.6, 1) -webkit-transform;
}

.sticky-nav {
    display: none;
    align-items: center;
    width: 100%;
    padding: 2rem;
    
}

.main-nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 3rem;
}

.page-title{
    font-size: x-large;
}

.menu{
    display: flex;
    flex-direction: row;

}

.menu > .item{
    list-style: none;
    margin: .5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: large;
}

.home{
    margin-top: 0;
    max-width: none;
    display: flex;
    width: 100%;
    height: 100vh;
}

.home-content{
    display: grid;
    grid-template-rows: repeat(7, 1fr) ;
    width: 100%;
    height: 100vh;
    font-size: 5rem;
}

.back-button{
    text-decoration: none;
    color: #313639;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh;
}