.transition-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: #FAF9F6;
    opacity: 0;
    pointer-events: none;
    transition: 0.75s ease;
}

.transition-1.is-active{
    opacity: 1;
    pointer-events: all;
}


